@import './variables.scss';

/* ------------------------------------------------------------ *\
	Section Account
\* ------------------------------------------------------------ */

.section-account {
    & {
        padding: 2rem 0;
    }
    .section__body {
        .tabs-account{ 
            max-width: 600px;
            margin: 0 auto;
        }
    }
    
}

/* ------------------------------------------------------------ *\
	Form Login
\* ------------------------------------------------------------ */

.form-login {
    & {
        padding: 3rem 0;
    }
}