@import './variables.scss';

/* ------------------------------------------------------------ *\
	Base
\* ------------------------------------------------------------ */

body {
	min-width: 320px;
	background: $white;
	font-family: $font-family-sans-serif;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $base-color;
	overflow-x: hidden;
}

a {
	color: inherit;
	text-decoration: none;
	transition: .4s;

	&:hover,
	&[href^="tel"] {
		text-decoration: none;
		color: inherit;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 { margin-bottom: $line-height-base / 2; }

h1 { font-size: 36px; font-family: $font-oswald }
h2 { font-size: 32px; font-family: $font-oswald; text-transform: uppercase; }
h3 { font-size: 26px; font-family: $font-oswald }
h4 { font-size: 24px; font-weight: bold; font-family: $font-oswald }
h5 { font-size: 16px; }
h6 { font-size: 12px; }

p,
ul,
ol,
dl,
hr,
table,
blockquote { margin-bottom: .68em; }

h1[class],
h2[class],
h3[class],
h4[class],
h5[class],
h6[class],
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child,
dl:last-child,
table:last-child,
blockquote:last-child { margin-bottom: 0; }


/* Mobile */

@media #{$mobile} {
	h1 { font-size: 24px; }
	h2 { font-size: 22px; line-height: 0.8; }
}

/* ------------------------------------------------------------ *\
	Slider
\* ------------------------------------------------------------ */

.slick-prev, .slick-next {
	height: 50px;
	width: 50px;
}
.slick-prev:before, .slick-next:before {
	font-size: 50px;
	opacity: 1;
}