@import '../styles/variables.scss';

/* ------------------------------------------------------------ *\
	Card
\* ------------------------------------------------------------ */
.card {
    & {
        margin-bottom: 1.5em;
    }
    .card-header {
        & {
            display: flex;
            align-items: center;
            padding: .5rem 1.5rem;
            min-height: 3.5rem;
            background-color: $white;
            border-bottom: 1px solid #e8ebf3;
        } 
        .card-title {
            font-size: 18px;
            font-weight: 500;
        }
    }
    .card-footer {
        background-color: $white;
    }
}