@import '../styles/variables.scss';

/* ------------------------------------------------------------ *\
	Form Add
\* ------------------------------------------------------------ */

.form-add {
    & {
        max-width: 600px;
        margin: 0 auto;
    }
    
    .form-actions {
        margin-top: 1rem;
    }
}