@import '../styles/variables.scss';

/* ------------------------------------------------------------ *\
	Form Add
\* ------------------------------------------------------------ */

.form-add {
    .form-actions {
        margin-top: 1rem;
    }
}

/* ------------------------------------------------------------ *\
	Form Subscribe
\* ------------------------------------------------------------ */

.form-subscribe {
    .form__control {
        & {
            display: flex;
        }
        input {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        .btn {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}

/* ------------------------------------------------------------ *\
	Form Auth
\* ------------------------------------------------------------ */

.form-auth {
    & {
        max-width: 400px;
        margin: 0 auto;
        padding: 2rem;
        background: $white;
        box-shadow: 0 10px 40px 0 rgba(62,57,107,.1), 0 2px 9px 0 rgba(62,57,107,.1);
    }
    .form__title {
        font-weight: 500;
        margin-bottom: 1rem;
    }
    .divider {
        position: relative;
        height: 2px;
        background-color: #e8ebf3;
    }
    .divider:before {
        content: 'or';
        position: absolute;
        left: 50%;
        top: -9px;
        transform: translateX(-50%);
        padding: 0 .25rem;
        background-color: $white;
    }
    .space {
        padding: 5px;
    }
    .form__actions {
        margin-top: 2rem;
    }
}

/* ------------------------------------------------------------ *\
	Form Contacts
\* ------------------------------------------------------------ */
.form-contacts {
    max-width: 650px;
    .from-group {
        margin-bottom: 1rem;
    }
}

@media #{$small-desktop} {
    .form-contacts {
        padding: 1rem;
    }
}

/* ------------------------------------------------------------ *\
	Form Chat
\* ------------------------------------------------------------ */

.form-chat {
    & {
        padding: 0 10px;
    }
}