@import '../styles/variables.scss';

/* ------------------------------------------------------------ *\
	Form Add
\* ------------------------------------------------------------ */

.form-add {
    .form-actions {
        margin-top: 1rem;
    }
}

/* ------------------------------------------------------------ *\
	Form Subscribe
\* ------------------------------------------------------------ */

.form-subscribe {
    .form__control {
        & {
            display: flex;
        }
        input {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        .btn {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}
