@import './variables.scss';

/* ------------------------------------------------------------ *\
	Helpers
\* ------------------------------------------------------------ */


/*  background colors  */

.bg-blue {
	background: $blue;
}

/*  margin-bottom  */

.mb-2 {
	margin-bottom: 2rem;
}
/*  Hidden  */

[hidden],
.hidden { display: none !important; }

/*Remove Scorll */

.fixed { overflow: hidden; }

/*  Alignleft  */

.alignleft { float: left; }

/*  Alignright  */

.alignright { float: right; }

/*Text Blue*/

.text-blue { color: $blue; }

/*Text aligned-right*/

.text-aligned-right { text-align: right; }

/*Text Medium*/

.text-medium { font-weight: 500; }

/*Text Bold*/

.text-bold { font-weight: bold; }

/*Text Extra Bold */

.text-extra-bold { font-weight: 800; }

/*Text Light*/

.text-light { font-weight: 300; }

/*Text Italic*/

.text-italic { font-style: italic; }

/*Text Block*/

.text-block { display: block; }

/*Text Blue*/

.text-blue {color: $base-color; }

/*FLex Centered*/

.flex-centered { display: flex; align-items: center; justify-content: center; }

/* height 100vh*/

.max-viewportheight { min-height: 100vh; height: 100vh; }

/*Animation Bounce */

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

/*  Disabled  */

[disabled],
.disabled { cursor: default; }

/*  Grid  */

.cols { display: flex; flex-flow: row wrap; }

.col { max-width: 100%; flex: 1; }
.col--1of2 { max-width: 50%; flex: 0 0 50%; }

/*  Responsive Helpers  */

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block { display: none !important; }

@media (max-width: $responsive-xs) {
	.hidden-xs { display: none !important; }
	.visible-xs-block { display: block !important; }
	.visible-xs-inline { display: inline !important; }
	.visible-xs-inline-block { display: inline-block !important; }
}

@media (min-width: calc($responsive-xs + 1px)) and (max-width: $responsive-sm) {
	.hidden-sm { display: none !important; }
	.visible-sm-block { display: block !important; }
	.visible-sm-inline { display: inline !important; }
	.visible-sm-inline-block { display: inline-block !important; }
}

@media (min-width: calc($responsive-sm + 1px)) and (max-width: $responsive-md) {
	.hidden-md { display: none !important; }
	.visible-md-block { display: block !important; }
	.visible-md-inline { display: inline !important; }
	.visible-md-inline-block { display: inline-block !important; }
}

@media (min-width: calc($responsive-md + 1px)) {
	.hidden-lg { display: none !important; }
	.visible-lg-block { display: block !important; }
	.visible-lg-inline { display: inline !important; }
	.visible-lg-inline-block { display: inline-block !important; }
}
