@import '../styles/variables.scss';

.search-deal {
    & {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 100%;
        margin: 2rem 0 2rem;
        box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    }
    .category-select {
        flex: 2;
        border: 0;
        height: calc(1.5em + 1.5rem + 2px);
        border-radius: 0;
    }
    .form__line ~ .form__line {
        border-left: 1px solid rgba(121, 24, 242, 0.5);
     }
    .form-group {
        position: relative;
        flex: 2;
        margin-bottom: 0;

        .form-control {
            border: 0;
            height: calc(1.5em + 1.5rem + 2px);
            border-radius: 0;
            padding: 0.375rem 0.75rem 0.375rem 2.5rem;
        }
        .material-icons {
            position: absolute;
            left: 10px;
            top: 50%;
            color: $blue;
            transform: translateY(-50%);
            margin: auto;
        }
    }
    .form-action {
        & {
            position: relative;
            flex: 1;
        }
        .btn-submit {
            & {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                padding: .815rem 0.75rem;
                border: 0;
                border-radius: 0;
            }
            .material-icons {
                margin: 0 5px;
            }
        }
    }
}