@import '../styles/variables.scss';

/* ------------------------------------------------------------ *\
	List
\* ------------------------------------------------------------ */

.list-categories {
    & {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        color: $onyx;
    }
    .list-group-item {
        & {
            border-radius: 0;
            flex: 0 1 33.33%;
            cursor: pointer;
        }
        a {
            display: flex;
            align-items: center;
            
        }
        .item-name {
            margin-left: 5px;
        }
    }
}
@media #{$tablet-portrait} {
    .list-categories {
        .list-group-item {
            flex: 0 1 50%;
        }
    }
}

@media #{$mobile} {
    .list-categories {
        .list-group-item {
            flex: 0 1 100%;
        }
    }
}

/* ------------------------------------------------------------ *\
	Posts List
\* ------------------------------------------------------------ */

.post-list {
    & {
        margin-bottom: 2rem;
        background: #fff;
        box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    }
    .post__head {
        position: relative;
        min-height: 100px;
        flex: 1;
    }
    .post__body {
        flex: 2;
        padding: 10px;
    }
    .post__price {
        font-size: 20px;
        font-weight: 500;
    }
    .post__meta {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .post__inner {
        display: flex;
    }
}

@media #{$mobile-small} {
    .post-list {
        .post__inner {
            display: block;
        }
        .post__body {
            .post__title {
                font-size: 16px;
                font-weight: bold;
            }
        }
    }
}

/* ------------------------------------------------------------ *\
    List Mobile Apps
\* ------------------------------------------------------------ */


.list-mobile-apps {
    li a {
        img {
            max-width: 150px;
        }
    }
}


/* ------------------------------------------------------------ *\
    List Contact Boxes
\* ------------------------------------------------------------ */


.list-contact-boxes {
    & {
        list-style: none;
    }
    li {
        margin-bottom: 1rem;
    }
}
/* ------------------------------------------------------------ *\
    List Contacts
\* ------------------------------------------------------------ */

.list-contacts {
    li a {
        & {
            display: flex;
            align-items: center;
            font-size: 14px;
        }
        .material-icons {
            margin-right: 5px;
        } 
    }
}

/* ------------------------------------------------------------ *\
    List Socials
\* ------------------------------------------------------------ */

.list-socials {
    & {
        padding: .5rem 0;
    }
    a {
        transition: .4s;
        
        &:hover {
            transform: scale(1.1);
        }
    }
    
    li { 
        margin: 0 5px;
    }
}

/* ------------------------------------------------------------ *\
    List Login Links
\* ------------------------------------------------------------ */

.list-login-links {
    & {
        text-align: center;
        padding: 1rem 0;
    }
    li {
        list-style: none;
        margin-bottom: 5px;
    }
}
/* ------------------------------------------------------------ *\
    List Socials
\* ------------------------------------------------------------ */
.list-socials {
    & {
        margin-top: 1rem;
    }
    li {
        list-style: none;
    }
}

/* ------------------------------------------------------------ *\
    List Terms
\* ------------------------------------------------------------ */

.list-terms {
    li {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    .material-icons {
        margin-right: 4px; 
    }
}

/* ------------------------------------------------------------ *\
    List User Chat
\* ------------------------------------------------------------ */
.list-user-message {
    & {
        list-style: none;
        max-width: 400px;
        overflow-y: auto;
    }
    li {
        padding: 10px;
    }
    li:hover {
        background-color: #F4F6F7;
        cursor: pointer;
    }
    li ~ li {
        border-top: 1px solid #EDF0F2;
    }    
}