@import '../styles/variables.scss';

/* ------------------------------------------------------------ *\
	Message
\* ------------------------------------------------------------ */

.message {
	& {
		margin-bottom: 20px;
		max-width: 480px;
		margin-left: auto;
	}
	&.incoming_msg {
		.message__content {
			justify-content: flex-start;
		}
		.message__inner {
			order: 2;
			.message__entry {
				background-color: #F4F5F7;
			}
			.message__time { 
				text-align: left;
			}
		}
		.message__image {
			order: 1;
		}	
	}
	.message__time {
		margin: 5px 20px;
		color: #C6C6C6;
		font-weight: 500;
		text-align: right;
	}
	.message__content {
		display: flex;
		align-items: flex-start;
		padding: 20px;
		justify-content: flex-end;
		color: #5B5652;
	}
	
	.message__entry {
		margin: 0 20px;
		padding: 16px 10px;
		background-color: #EBF2FC;
		border-radius: 11px;
	}
	.message__image {
		img {
			max-width: 60px;
			border-radius: 50%;
		}
	}
}