@import '../styles/variables.scss';

/* ------------------------------------------------------------ *\
	Logo
\* ------------------------------------------------------------ */

.logo { max-width: 60px; height: auto; }

/* ------------------------------------------------------------ *\
	Logo
\* ------------------------------------------------------------ */

.navigation {
	& {
		position: relative;
		left: 0;
		top: 0;
		z-index: 100;
		width: 100%;
		padding: 0.2rem 1rem;
		background-color: rgba(0,0,0,.4);
		transition: background .4s;
		
		&.fixed {
			position: fixed;
			background: $white;
			box-shadow: 2px 3px 4.7px 0.3px rgba(0,0,0,0.24);

			.nav-item {				
				.btn {
					color: #504e70;
					border: 0;
				}
			}
			.nav-item:hover {
				.btn{
					color: $white;
				}	
			}
			.dropdown-btn {
				color: $black;
			}
		}
	}
	.nav-item {
		margin: 0 5px;
		
		.btn {
			color: $white;
			border: 0;
		}
	}
	.navbar-nav {
		margin-left: auto;
		align-items: center;
	}
	.dropdown-btn {
		background-color: transparent;
		border: 0;
		.material-icons {
			font-size: 2rem;
			margin-right: 5px;
		}
	}
	.dropdown-btn:focus {
		outline: 0;
	}
	.dropdown-item {
		display: block;
		text-decoration: none;
	}
	.nav-link {
		& {
			display: flex;
			align-items: center;
			text-decoration: none;
			color: $white;
		}
	}
	.navbar-toggler{
		background-color: #EFEFEF;
	}
 }

 @media #{$mobile} {
	.navigation.fixed .nav-item .btn, 
		.navigation.fixed .nav-item .dropdown-btn  {
		color: $white;
	}
	.navbar-collapse {
		position: absolute;
		top: 60px;
		width: 100%;
		left: 0;
		background: linear-gradient(225deg, rgba(70, 43, 220, 0.8) 0%, rgba(181, 62, 189, 0.8) 40%, rgba(243, 125, 7, 0.7) 100%);
	}
	.logo { max-width: 45px; }
 }

 /* ------------------------------------------------------------ *\
	Nav Profile
\* ------------------------------------------------------------ */

.nav-profile {
	.nav-link:first-child {
		border-top: 1px solid #e8ebf3;
	}
	.nav-link {
		display: flex;
		align-items: center;
		background-color: transparent;
		border-bottom: 1px solid #e8ebf3;
		padding: .75rem 1.25rem;
		border-radius: 0;
		.material-icons {
			margin-right: 10px;
		}
	}
	.nav-link.active {
		background-color: rgba(241, 238, 247, 0.6);
		border-right: 2px solid $red;
		color: $red;
	}
}