@import '../styles/variables.scss';

/* ------------------------------------------------------------ *\
	Logo
\* ------------------------------------------------------------ */

.logo { max-width: 60px; height: auto; }

/* ------------------------------------------------------------ *\
	Logo
\* ------------------------------------------------------------ */

.navigation {
	& {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 100;
		width: 100%;
		padding: 0.2rem 1rem;
		background-color: rgba(0,0,0,.4);
		transition: top .4s;
		// box-shadow: 0 1px 10px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.13);
		&.fixed {
			position: fixed;
			background: $white;
			box-shadow: 2px 3px 4.7px 0.3px rgba(0,0,0,0.24);

			.nav-item {				
				.btn {
					color: #504e70;
					border: 0;
				}
			}
			.nav-item:hover {
				.btn{
					color: $white;
				}	
			}
			.dropdown-btn {
				color: $black;
			}
		}
	}
	.nav-item {
		margin: 0 5px;
		
		.btn {
			color: $white;
			border: 0;
		}
	}
	.navbar-nav {
		margin-left: auto;
		align-items: center;
	}
	.dropdown-btn {
		background-color: transparent;
		border: 0;
		.material-icons {
			font-size: 2rem;
		}
	}
	.dropdown-btn:focus {
		outline: 0;
	}
	.dropdown-item {
		display: block;
		text-decoration: none;
	}
	.nav-link {
		& {
			display: flex;
			align-items: center;
			text-decoration: none;
			color: $white;
		}
	}
	.navbar-toggler{
		background-color: #EFEFEF;
	}
 }

 @media #{$mobile} {
	 
	.logo { max-width: 45px; }
 }