@import '../styles/variables.scss';

/* ------------------------------------------------------------ *\
	Price
\* ------------------------------------------------------------ */

.price {
    & {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto 20px;
        height: 60px;
        background: $white;
        position: relative;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }
    &:before {
        content: "";
        position: absolute;
        right: 100%;
        top: 18px;
        width: 0;
        height: 0;
        border-top: 13px solid transparent;
        border-right: 26px solid $white;
        border-bottom: 13px solid transparent;
    }
    .price__content {
        font-size: 30px;
    }
}