/* ------------------------------------------------------------ *\
	Profile
\* ------------------------------------------------------------ */

.profile {
    & {
        padding: 2rem 0;
    }
}

/* ------------------------------------------------------------ *\
	Profile Tabs
\* ------------------------------------------------------------ */

.tab-pane-ads {
    .post {
        flex: 0 1 25%;
        margin: 0 10px 20px;
    }
}