@import '../styles/variables.scss';


/* ------------------------------------------------------------ *\
	Profile
\* ------------------------------------------------------------ */

.profile {
    & {
        padding: 2rem 0;
    }
    .profile__image {
        padding: 1rem 0;
        text-align: center;;
        margin: 0 auto;

        img {
            border-radius: 50%;
            width: 5rem;
            height: 5rem;
        }
    }
    .profile__aside {
        background-color: $white;
    }
    .profile__content {
        background-color: $white;
        .card-body {
            display: block;
        }
    }
}

/* ------------------------------------------------------------ *\
	Profile Tabs
\* ------------------------------------------------------------ */

.tab-pane-ads {
    .post {
        flex: 0 1 30%;
        margin: 0 10px 20px;
    }
}

@media #{$mobile} {
    .tab-pane-ads {
        & {
            justify-content: center !important;
        }
        .post {
            flex: 0 1 100%;
            margin: 0 10px 20px;
        }
    }
}