@import '../styles/variables.scss';

/* ------------------------------------------------------------ *\
	User Profile
\* ------------------------------------------------------------ */

.user-profile {
    .user__title {
        font-weight: 500;
        text-align: center;
    }
    .btn {
        display: flex;
        align-items: center;
        font-size: .814rem;
        .material-icons {
            font-size: 20px;
            margin-right: 5px;
        }
    }
    .btn-success {
        margin: 0 auto;
    }
    .btn ~ .btn {
        margin-left: 5px;
    }
    .user__body ~ .user__body {
        border: 1px solid #e8ebf3;
    }
    .list-socials {
        padding: 0;
    }
    .list-contact {
        & {
            list-style: none;
        }
        li {
            & {
                display: flex;
                align-items: center;
                margin-bottom: .5rem;
            }
            .material-icons {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30px;
                height: 30px;
                background-color: $silver;
                border-radius: 50%;
                margin-right: 5px;
                font-size: 18px;
            }
        }
    }
    .user__image {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        margin: 0 auto 1rem;
    }
}
/* ------------------------------------------------------------ *\
	Profile
\* ------------------------------------------------------------ */

.profile {
    & {
        padding: 2rem 0;
    }
    .profile__image {
        padding: 1rem 0;
        text-align: center;;
        margin: 0 auto;

        img {
            border-radius: 50%;
            width: 5rem;
            height: 5rem;
        }
    }
    .profile__aside {
        background-color: $white;
    }
    .profile__content {
        background-color: $white;
        .card-body {
            display: block;
        }
    }
}

/* ------------------------------------------------------------ *\
	Profile Tabs
\* ------------------------------------------------------------ */

.tab-pane-ads {
    .post {
        flex: 0 1 30%;
        margin: 0 10px 20px;
    }
}

@media #{$mobile} {
    .tab-pane-ads {
        & {
            justify-content: center !important;
        }
        .post {
            flex: 0 1 100%;
            margin: 0 10px 20px;
        }
    }
}