@import '../styles/variables.scss';

.messaging {
    & {
        padding: 2rem 0;
    }
    .message__actions {
        display: none;
    }
    .message__description {
        word-break: break-all;
    }
    .messaging__body {
        & {
            display: flex;
            background-color: $white;
            box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
        }
        
        .inbox_people {
            width: 30%;
            border-right: 1px solid $gray;
        }
        
        .messages {
            padding-top: 30px;
            width: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    
    .message_history {
        width: 100%;
        height: 555px;
        overflow-y: auto;
    }
    
    .type_msg {
        padding: 1.5em;
        background-color: #EBF2FC;
        max-width: 100%;
        width: 100%;
        border-color: $gray;
    }

    .chat_list {
        border-bottom: 1px solid $gray;
        margin: 0;
    }
    
    .inbox_chat {
        height: 550px;
        overflow-y: auto;
    }
    
    
    .outgoing_msg {
        border-color: $blue;
        margin-left: auto;
        margin-right: 0;
    }
    .incoming_msg {
        margin-left: 0;
        margin-right: auto;
    }
    .form-message {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media #{$tablet-portrait} {
    .messaging {
        .messaging__body {
            .message__actions {
                display: block;
                text-align: left;

                .btn-sm {
                    line-height: .6;
                }
            }
            .inbox_people {
                width: 100%;
                transition: width .4s;

                &.inactive-list{
                    width: 0;
                }
            }
            .messages {
                transition: width .4s visibility .4s;
                width: 0;
                visibility: hidden;
                opacity: 0;
                padding-top: 10px;

                .message__actions {
                    display: none;
                }

                &.active-messages {
                    width: 100%;
                    visibility: visible;
                    opacity: 1;

                    .message__actions {
                        display: block;
                        width: 100%;
                        text-align: left;
                        padding: 0 20px 10px;
                    }
                }
            }
        }
    }
}

@media #{$mobile} {
    .messaging {
        .messaging__body {
            .message__image {
                min-width: 60px;
            }
            .type_msg {
                padding: 1rem .5rem;
            }
        }
    }
}