@import '../styles/variables.scss';

/* ------------------------------------------------------------ *\
	Section Contacts
\* ------------------------------------------------------------ */

.section-contacts {
    & {
        padding: 4rem 0;
    }
}
/* ------------------------------------------------------------ *\
	Section Posts
\* ------------------------------------------------------------ */

.section-posts {
    & {
        padding: 4rem 0;
        background-color: $white;
    }
    .slick-slider {
        width: 100%;
    }
    .section__head {
        padding-bottom: 2rem;
    }
}

/* ------------------------------------------------------------ *\
	Section Post Details
\* ------------------------------------------------------------ */

.section-post-details {
    & {
        padding: 50px 0;
        min-height: 100vh;
    }
    .section__inner {
        position: relative;
    }
    .section__content {
        max-width: calc(70% - 50px);
    }
    .section__aside {
        position: absolute;
        bottom: 0;
        top: 0;
        left: 65%;
        padding: 0 20px;
        height: 600px;
        right: 0;
    }
    .section__aside.fixed{
        position: fixed;
        padding: 20px;
        overflow: visible;
        max-width: 410px;
        left: 63%;
    }
}
@media #{$tablet-portrait} {
    .section-post-details {
        .section__content {
            max-width: 100%;
        }
        .section__aside, .section__aside.fixed {
            position: static;
            max-width: 100%;
            height: auto;
        }
    }
}

/* ------------------------------------------------------------ *\
	Section Post Details Mobile
\* ------------------------------------------------------------ */

@media #{$mobile} {
    .section-post-details {
        .section__content {
           
            .post__head-mobile {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
        .section__aside {
            padding: 0;
        }

        .section__aside .price {
            display: none;
        }
    }
}

/* ------------------------------------------------------------ *\
	Section Create Ad
\* ------------------------------------------------------------ */

.section-create-ad {
    & {
        padding: 2rem 0;       
    }
    .section__head {
        margin-bottom: 2rem;
    }
}

/* ------------------------------------------------------------ *\
    Section Category
\* ------------------------------------------------------------ */

.section-category {
    & {
        padding: 1rem 0; 
    }    
    .section__body {
        padding: 2rem 0 0;
    }
    .section__posts {
        display: flex;
        flex-wrap: wrap;
    }
    .section__foot {
        padding: 0 0 2rem
    }
}

@media #{$mobile} {
    .section-category {
        .section__posts {
            display: block;
        }

        .filter-bar{
            & { 
                display: block;
            }
            .filter__aside,
            .filter__content {
                max-width: 100%;
                flex: 0 1 100%;
            }
            .filter__content {
                margin-bottom: 1rem;
            }
            .filter__aside {
                .filter__sort{
                    flex: 1;
                    max-width: 100%;
                 }
            }
            .filter__actions {
                display: none;
            }
        }
    }
}


/* ------------------------------------------------------------ *\
	Section Results
\* ------------------------------------------------------------ */

.section-results {
    & {
        padding: 1rem 0;
        margin: 0 2rem;
    }
}

@media #{$mobile} {
    .section-results {
        & {
            padding: 1rem 0;
            margin: 0;
        }
        h3 {
            margin-bottom: 10px !important;
            font-size: 22px;
        }
    }
}

/* ------------------------------------------------------------ *\
	Section Featured Posts
\* ------------------------------------------------------------ */

.section-featured-posts {
    & {
        background-color: #f1eef7;
    } 
}

/* ------------------------------------------------------------ *\
	Section Auth
\* ------------------------------------------------------------ */

.section-auth {
    & {
        padding: 4rem 0;
    }
}

/* ------------------------------------------------------------ *\
	Section Hero
\* ------------------------------------------------------------ */

.section-hero {
    & {
        position: relative;
        margin-top: -79px;
        padding: 7rem 0 5rem;
        background-position: center 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .container--small {
        max-width: 960px;
    }
    .section__head {
        position: relative;
        color: $white;
        text-align: center;

        p {
            font-size: 16px;
        }
    }
    .section__title {
        display: block;
        font-size: 40px;
        font-weight: 500;
        margin-bottom: 1rem;
        color: $white;
        text-align: center;
    }
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        left: 0;
        z-index: 0;
        background: linear-gradient(225deg, rgba(70, 43, 220, 0.8) 0%, rgba(181, 62, 189, 0.8) 40%, rgba(243, 125, 7, 0.7) 100%);
    }
}

@media #{$mobile} {
    .section-hero {
        & {
            padding: 5rem 0 2rem;
        }
        .section__title {
            font-size: 24px;
        }
        .section__subtitle {
            font-size: 14px;
        }
    }
}


/* ------------------------------------------------------------ *\
	Section About
\* ------------------------------------------------------------ */

.section-about {
    & {
        padding: 3rem 0;
    }
}

/* ------------------------------------------------------------ *\
	Section How It Works
\* ------------------------------------------------------------ */

.section-how-works {
    & {
        padding: 3rem 0;
    }
    .section__head {
        text-align: center;
        margin-bottom: 2rem;
    }
    .section__title {
        margin-bottom: .7rem;
    }
}

/* ------------------------------------------------------------ *\
	Section Promo
\* ------------------------------------------------------------ */
.section-promo {
    & {
        position: relative;
        padding: 4rem 0;
        background-repeat: no-repeat;
        background-position: center center;
        color: $white;
        text-align: center; 
    }
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        left: 0;
        z-index: 0;
        background: linear-gradient(225deg, rgba(70, 43, 220, 0.8) 0%, rgba(181, 62, 189, 0.8) 40%, rgba(243, 125, 7, 0.7) 100%);
    }
    .section__content {
        position: relative;
    }
    .section__actions {
        margin-top: 2rem;
    }
}


/* ------------------------------------------------------------ *\
	Section Post View
\* ------------------------------------------------------------ */

.section-post-view {
    & {
        padding: 3rem 0;
    }
}

@media #{$mobile} {
    .section-post-view {
        & {            
            .col-xl-4 {
                order: 1;
            }
            .col-xl-8 {
                order: 2;
            }
            .product-latest {
                display: none;
            }
        }
    }
}

/* ------------------------------------------------------------ *\
	Section Message
\* ------------------------------------------------------------ */


.section-message {
    .section__content {
        border-left: 2px solid #F4F6F8;
    }
}