@import '../styles/variables.scss';

/* ------------------------------------------------------------ *\
	Section Posts
\* ------------------------------------------------------------ */

.section-posts {
    & {
        padding: 2rem 0;
    }
    .slick-slider {
        width: 100%;
    }
    .section__head {
        padding-bottom: 2rem;
    }
}

/* ------------------------------------------------------------ *\
	Section Post Details
\* ------------------------------------------------------------ */

.section-post-details {
    & {
        padding: 50px 0;
    }
    .section__inner {
        position: relative;
    }
    .section__content {
        background-color: $white;
        max-width: calc(65% - 50px);
    }
    .section__aside {
        position: absolute;
        top: 0;
        left: 65%;
        height: 500px;
        right: 0;
    }
}